.tp-caption.Photography-Subline, .Photography-Subline {
color:#777777;
font-size:20px;
line-height:30px;
font-weight:300;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:transparent;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
letter-spacing:3px;
}

.tp-caption.Photography-Display, .Photography-Display {
color:#ffffff;
font-size:80px;
line-height:70px;
font-weight:100;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:transparent;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
letter-spacing:5px;
}

.tp-caption.Photography-ImageHover, .Photography-ImageHover {
color:#ffffff;
font-size:20;
line-height:22;
font-weight:400;
font-style:normal;
font-family:;
text-decoration:none;
background-color:transparent;
border-color:#ffffff;
border-style:none;
border-width:0px;
border-radius:0 0 0 0;
}

.tp-caption.Photography-ImageHover:hover, .Photography-ImageHover:hover {
color:#ffffff;
color-transparency:1;
text-decoration:none;
background-color:transparent;
background-transparency:0;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
opacity:0.5;
scalex:0.8;
scaley:0.8;
skewx:0;
skewy:0;
xrotate:0;
yrotate:0;
2d_rotation:0;
speed:1000;
easing:Power3.easeInOut;
}

.tp-caption.Photography-Textblock, .Photography-Textblock {
color:#fff;
font-size:17px;
line-height:30px;
font-weight:300;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:transparent;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
letter-spacing:2px;
}

.tp-caption.Photography-Button, .Photography-Button {
color:#ffffff;
font-size:15px;
line-height:15px;
font-weight:600;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:#000000;
border-color:#ffffff;
border-style:solid;
border-width:1px;
border-radius:30px 30px 30px 30px;
letter-spacing:1px;
}

.tp-caption.Photography-Button:hover, .Photography-Button:hover {
color:#ffffff;
color-transparency:1;
text-decoration:none;
background-color:#000000;
background-transparency:0;
border-color:#ffffff;
border-transparency:1;
border-style:solid;
border-width:1px;
border-radius:30px 30px 30px 30px;
opacity:1;
scalex:1;
scaley:1;
skewx:0;
skewy:0;
xrotate:0;
yrotate:0;
2d_rotation:0;
css_cursor:auto;
speed:300;
easing:Power3.easeOut;
}

.tp-caption.Photography-Subline-2, .Photography-Subline-2 {
color:#ffffff;
font-size:20px;
line-height:30px;
font-weight:300;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:transparent;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
letter-spacing:3px;
}

.tp-caption.Photography-Menuitem, .Photography-Menuitem {
color:#ffffff;
font-size:20px;
line-height:20px;
font-weight:300;
font-style:normal;
font-family:Raleway;
text-decoration:none;
background-color:#000000;
border-color:transparent;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
letter-spacing:2px;
}

.tp-caption.Photography-Menuitem:hover, .Photography-Menuitem:hover {
color:#ffffff;
color-transparency:1;
text-decoration:none;
background-color:#00ffde;
background-transparency:0.65;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
opacity:1;
scalex:1;
scaley:1;
skewx:0;
skewy:0;
xrotate:0;
yrotate:0;
2d_rotation:0;
css_cursor:pointer;
speed:200;
easing:Linear.easeNone;
}

