/*
Theme Name: Sober Child Theme
Theme URI: http://uix.store/sober/
Author: UIX Themes
Author URI: http://uix.store
Description: Sober is a fully responsive Premium WordPress Theme with a pixel perfect design and extensive functionality
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sober
Tags: one-column, two-columns, right-sidebar, custom-colors, custom-menu, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Template: sober
*/

.page-header {
    padding: 30px 0;
}
.product-toolbar{
    display: none;
}
.ribbons {
    display: none;
}
.woocommerce div.product div.images {
    width: 46%;
    background: #cccccc61;
    float: right;
	/*height: 530px;*/
     padding: 0;
}
figure.woocommerce-product-gallery__wrapper {
    width: 45%;
    text-align: center;
    margin: 0 auto !important;
    padding-bottom: 15px !important;
}
.woocommerce div.product .product-summary {
    position: relative;
    background: #cccccc26;
    padding: 70px;
}
.summary.entry-summary {
    padding: 0 !important;
    text-align: left !important;
}
p.price {
    margin: 0 !important;
}
.variations {
    text-align: left !important;
    margin: 0 !important;
}
.variable.type-select.wide-variable {
    margin: 0 !important;
    padding: 0 !important;
    width: 50% !important;
}
.variations .label {
    margin-right: 80px;
}
.woocommerce div.product form.cart .variations .value {
    background: #fff;
}
.woocommerce div.product form.cart .variations select {
    padding: 7px 31px 7px 0;
    border: 1px solid #ddd;
}
.woocommerce-cart .site-content {
    background: #cccccc26;
}
.main-pro {
    width: 100%;
}
.hello-productx {
    border: 1px solid #ccc;
    float: left;
    width: 31%;
    margin: 1%;
    border-radius: 5px;
}
.top-content {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 9px;
    line-height: 13px;
    padding: 10px 0;
    padding-bottom: 0;
}
.to-d {
    font-size: 9px;
    font-weight: bold;
    color: #000;
}
.bottom-cont {
    padding: 10px 7px;
    text-align: center;
}
.p-title {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
.bottom-cont {
    padding: 7px;
    text-align: center;
    line-height: 23px;
	    color: #000;
}
.aaa {
    font-size: 13px;
    font-weight: 600;
}
.sdas-c {
    font-size: 12px;
}
.bit-mine {
    padding: 10px;
}
.bit-mine a {
    background: #000;
    color: #fff;
    padding: 9px 56px;
    border-radius: 5px;
}
.bit-mine {
    padding: 10px 12px;
    margin: 0 auto;
}
.top-content img {
    width: 35%;
}
.cart-cts {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.bit-c {
    float: left;
    font-size: 12px;
    text-align: center;
}
.bit-c p {
    margin: 0;
    float: left;
    padding: 0 3px;
}

.bit-2 .cart-cts {
    width: auto;
}
.bit-2 .bit-c {
    font-size: 9px;
}
.bit-c span:last-child {
    display: none;
}
.add-to-wishlist-button {
    display: none !important;
}
.quantity {
    display: none !important;
}
.single_add_to_cart_button svg {
    display: none;
}
.woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}
.product_meta {
    display: none;
}
.product-share {
    display: none;
}
.woocommerce-product-gallery__image {
    background: #fff;
    padding: 20px;
}
a.woocommerce-product-gallery__trigger {
    display: none;
}

.woocommerce-product-gallery__image {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}
figure.woocommerce-product-gallery__wrapper {
    width: 80%;
    text-align: center;
    margin: 40px auto !important;
    background: #fff;
}
.tit {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.botot {
    font-size: 11px;
}
button.single_add_to_cart_button {
    width: 100%;
    background: #000;
}
button.single_add_to_cart_button.button.alt.disabled {
    background: #000;
    opacity: 1;
}
.variations-reset {
    display: none;
}

.single-product .variable.type-select.wide-variable {
    width: 100% !important;
}

.variable-options{
	width:100%;
	}
	

.woocommerce div.product form.cart .variations .value {
    background: #fff;

}

.woocommerce div.product form.cart .variations select{ 
text-align:left;
    color: #7c7c80;
}


.single-product .wccpf_value select {
    padding: 9px 31px 9px 0 !important;
    border: 1px solid #ddd;
}
.woocommerce div.product form.cart .variations select {
    padding: 9px 31px 9px 0;
    border: 1px solid #ddd;
}

.woocommerce div.product form.cart .variations select{ 
text-align:left;
    color: #7c7c80;
}


.woocommerce div.product form.cart .button.loading:after {
    right: auto;
    left: auto !important;
    top: 0;
	margin-left:5px !important;
}

.status-publish .bottom-cont {
   padding: 4px 7px;
    text-align: center;
    line-height: 18px;
    color: #000;
    min-height: 65px;
}


@media screen and (max-width: 1195px) {
	
.status-publish .bit-mine a {
    background: #000;
    color: #fff;
    padding: 3px 0px;
    border-radius: 5px;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 4px;
}	
}
	

@media screen and (max-width: 993px) {
	
.single-product .woocommerce div.product div.images, .woocommerce div.product div.summary {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
}

.single-product .variable.type-select.wide-variable {
    width: 100% !important;
}

.variable-options{
	width:100%;
	}

.woocommerce div.product form.cart .variations .value {
    background: #fff;

}

.single-product .wccpf_value select {
    padding: 9px 31px 9px 0 !important;
    border: 1px solid #ddd;
}

.woocommerce div.product form.cart .variations select{ 
text-align:left;
    color: #7c7c80;
}
	
}


@media screen and (max-width: 768px){
.woocommerce div.product form.cart .variations .value {
    background: #fff;

}

.single-product .woocommerce div.product div.images, .woocommerce div.product div.summary {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.woocommerce div.product div.images {
    width: 100%;
    background: #cccccc61;
    float: right;
    /* height: 530px; */
    padding: 0;
}


.status-publish .hello-productx {
    border: 1px solid #ccc;
    float: left;
    width: 48%;
    margin: 1%;
    border-radius: 5px;
}

}



@media screen and (max-width: 468px){
	
	.woocommerce div.product .product-summary {
    position: relative;
    background: #cccccc26;
    padding: 30px;
}


.woocommerce div.product .product_title {
    font-size: 32px;
    font-size: 3.2rem;
    color: #1e1e23;
    font-weight: 300;
    font-family: "Sofia Pro", sans-serif;
    margin-bottom: 4px;
    margin-top: 20px;
}


.single-product .wccpf_value select {
    padding: 9px 31px 9px 0 !important;
	border: 1px solid #ddd;
}



	.variations .label {
    margin-right: 0;
    width: 100%;
}

.woocommerce div.product form.cart .variations .value {
    background: #fff;
    width: 100%;
}

table.wccpf_fields_table td.wccpf_label, table.wccpf_fields_table td.wccpf_label label {
    width: 100%;
    padding: 5px 0 0;
}

table.wccpf_fields_table td {
    padding: 0px 0px 10px;
    vertical-align: middle;
    width: 100%;
    float: left;
}
	.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 0;
}


.status-publish .hello-productx {
    border: 1px solid #ccc;
    float: left;
    width: 98%;
    margin: 1%;
    border-radius: 5px;
}

}